.home-right-bar {
  flex: 0.75;
  margin-left: 20px;
}

.home hr {
  border: 0.5px solid #30363d;
}

.home-page {
  display: flex;
  margin-top: 40px;
}

@media all and (max-width: 780px) {
  .home-page {
    display: flex;
    flex-direction: column;
  }
}
