.pagination-card {
  margin-top: 50px;
  margin-right: 150px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination .prev {
  background-color: black;
  padding: 6px;
  border: 0.5px solid #333;
  border-radius: 4px 0 0 4px;
}

.pagination .next {
  background-color: black;
  padding: 6px;
  border: 0.5px solid #333;
  border-radius: 0 4px 4px 0;
}

.pagination .prev:hover,
.pagination .next:hover {
  background-color: #333;
  color: #fff;
}

.pagination li {
  /* background-color: #fff; */
  background-color: black;
  padding: 6px;
  border: 0.5px solid #333;
  list-style: none;
}

.pagination li:hover {
  background-color: #333;
}

.pagination a {
  color: #fff;
  text-decoration: none;
}

.pagination li a:hover {
  color: #fff;
}

@media all and (max-width: 768px) {
  .pagination {
    margin-left: 90px;
  }
}
