.app {
  width: 100%;
}

.loading {
  color: greenyellow;
  text-align: center;
  font-size: 20px;
}

.error-page {
  color: #fff;
  text-align: center;
}

@media all and (max-width: 780px) {
  .app {
    width: 100%;
  }
}
